extends layout

block content

  form(method='POST' action='/survey/up')
    button.btn.btn-success(type='submit') Up

  form(method='POST' action='/survey/down')
    button.btn.btn-danger(type='submit') Down

  form(method='GET' action='/survey')
    button.btn.btn-info(type='submit') Results

  form(method='POST' action='/survey/reset')
    button.btn.btn-warning(type='submit') Reset
